{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/back.css' %}">
    <html>
        <head>
            <meta http-equiv="refresh" content="10000; url=http://127.0.0.1:8000/ranking/">
           <script>
                function call_counter(url) {
                    window.open(url);
                }
            </script>
        </head>
        <body>

        <div class="gameeasy" style="width: 100%; height: 10%; position: absolute; top: 6%; text-align:center; font-size: 80px;">
            Game Start
        </div>




            <table>
                <tr>
                    <td width="50%">

                        <img src="http://127.0.0.1:8000/video_input/video_stream" style="width:60%; height: 72%; position: absolute; top: 23%; left: 3%;" />



                    </td>
                </tr>
            </table>
        </body>
    </html>
{% endblock %}