

{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/back.css' %}">
  <div class="navbar navbar-expand-lg navbar-light mb-4" >
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
          <button class="nav-Tuto">
            <a href="{% url 'video_input' %}"><img src="static/css/tt.jpg"/></a>
          </button>
          <button class="nav-Game">
            <a class="nav-link" href="{% url 'image_upload' %}">Game</a>
          </button>
          <button class="nav-Tutofirst some">
            <a class="nav-link" href="{% url 'video_input' %}">go to the first step</a>
          </button>
          <button class="nav-Tutolast">
            <a class="nav-link" href="{% url 'video_input03' %}">go to the last step</a>
          </button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}