{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/back.css' %}">
    <html>
        <head>
           <script>
                function call_counter(url) {
                    window.open(url);
                }
            </script>
        </head>
        <body>

            <table>
                <tr>
                    <td width="50%">

                        <img src="http://127.0.0.1:8000/video_input/video_stream" style="width:800px;" />



                    </td>
                </tr>
            </table>
            {% if my_tag == "False" %}
                <button class="nav-step00"disabled>
                    step 03 end
                </button>
            {% else %}
            <button class="nav-step00">
                <a class="nav-link" href="{% url 'video_input03' %}">step 03 end</a>
            </button>
            {% endif %}


        </body>
    </html>
{% endblock %}