{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/back.css' %}">
    <html>
        <head>
           <script>
                function call_counter(url) {
                    window.open(url);
                }
            </script>

        </head>
        <body>

        <img src="https://img.freepik.com/free-vector/cursive-grid-yellow-pastel-aesthetic-background_53876-99191.jpg?t=st=1654172723~exp=1654173323~hmac=1c3f7ddf08068853a3388abe8092dae4b78cc72f4ca4abbc8fb3f2c5b7078626&w=1800" style="width:1745px; height: 823.5px; position: absolute;">
            <table>
                <tr>
                    <td width="100%">

                        <img src="http://127.0.0.1:8000/game/game_normal" style="width:70%; height: 70%; position: absolute; top:25%; left: 15%;" />



                    </td>
                </tr>
            </table>

        </body>
    </html>
{% endblock %}