{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/back.css' %}">
    <html>
        <head>
           <script>
                function call_counter(url) {
                    window.open(url);
                }
            </script>
        </head>

        <body>
        <img src="https://img.freepik.com/free-vector/cursive-grid-yellow-pastel-aesthetic-background_53876-99191.jpg?t=st=1654172723~exp=1654173323~hmac=1c3f7ddf08068853a3388abe8092dae4b78cc72f4ca4abbc8fb3f2c5b7078626&w=1800" style="width:1745px; height: 823.5px; position: absolute;">

            <table>
                <tr>
                    <td width="70%">

                        <img src="http://127.0.0.1:8000/game/game_easy" style="width:70%; height: 70%; position: absolute; top:25%; left: 15%;" />



                    </td>
                </tr>
            </table>
        <img src="https://post-phinf.pstatic.net/MjAyMjA2MDNfMjMg/MDAxNjU0MTgzODY4ODUz.9ncZ3EL5Zbf7aXPQ08eayj-8w35eSc3v4hV2pyVdFWsg.P6HaC4cxjEBB9PQ8dPzppAO1n4flccX03gKnOPdwaJkg.PNG/game_0000.png?type=w1200" alt="" style="height: 15%;position: absolute; top: 8%; right: 37.7%">
        </body>

        <script>

                var count = {{count}}
                console.log({{count}})

                setInterval(
                function user_game_count(){

                    $.ajax({
                        url: 'http://127.0.0.1:8000/game/user_game_count/'+'{{request.user.username}}'+'/',
                        type: 'GET',
                        dataType: 'json',
                        data: {},

                        success: function(data){
                            console.log(data.count);

                            if(data.count != count){
                                console.log("ranking update success");
                                location.href="{% url 'ranking' %}"
                            }
                        }
                    });
                }, 3000);

    </script>

    </html>
{% endblock %}